
.padre {
    background-color: #6ea4e1c6;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    /* IMPORTANTE */
    text-align: center;
  }

  body { 
    background-color: #29204d;
    background-image: url("../img/fondo.jpg"); 
    /* Para dejar la imagen de fondo centrada, vertical y
    horizontalmente */
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización
     para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el
     cambio del ancho de ventana del navegador */
    background-size: cover;
  }

  
  h1 {
    color: white; text-shadow: black 0.1em 0.1em 0.2em
  }

  table {
      table-layout: fixed;
      width: 50%;
      border-collapse: collapse;
      border: 3px solid purple;
      overflow-x:auto;
  }

  tbody td {
    text-align: center;
  }
  
  th, td {
    border-bottom: 1px solid #ddd;
  }
  tr:hover {background-color: rgba(60, 147, 33, 0.493);}
